<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="home-body">

<div class="wave-container">

    <div class="container">

        <div class="card center">

            <h1>Task Tracker</h1>
            <p>Organize your week, track your tasks, and stay productive.</p>

            <a href="/login">Login</a>
            <br>
            <a href="/register">Register</a>

        </div>

    </div>

    <!-- WAVES -->
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>

</div>

</body>
</html>
