<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
</head>

<body>

<div class="container">

    <div class="card">

        <!-- only text change -->
        <h2>Login</h2>

        {% if error %}
            <p style="color:red;font-weight:bold;">{{ error }}</p>
        {% endif %}

        <form method="POST" action="/login">

            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>

        </form>

        <!-- same links as register style -->
        <a href="/register">Create Account</a><br>
        <a href="/">Back to Home</a>

    </div>

</div>

</body>
</html>
